.mat-toolbar{
  background-color:#3f51b5;
  color: white;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,.2);
  font-family:Helvetica,sans-serif;
}

.icon-circle1{
  margin-left: 20px;
  color: #fd739a;
}

.icon-circle2{
  color: #5ed3d3;
}

.icon-circle3{
  color: #fcdf5b;
}
.icon-circle4{
  color: #98f861;
}





