
      <app-banner></app-banner>

      <br><br><h1 class="title">Nuevo artículo</h1><br>

      <div class="container">
        <div class="row">
          <div class="col-sm">
            <h2>Tipo: </h2><br>
          </div>

          <div class="col-10">
            <mat-form-field appearance="fill">
              <mat-label>Seleccione</mat-label>
              <mat-select #tipoc value="{{pub['tipo']}}">
                <mat-option *ngFor="let i of tipo"  [value]="i['nombre']">{{i['nombre']}}</mat-option>
              </mat-select>
            </mat-form-field><br>
          </div>
          <div class="row">
            <div class="col-sm">
              <h2>Marca: </h2><br>
            </div>
            <div class="col-10">
              <mat-form-field appearance="fill">
                <mat-label>Seleccione</mat-label>
                <mat-select #marcac value="{{pub['marca']}}">
                  <mat-option *ngFor="let i of marca"  [value]="i['nombre']">{{i['nombre']}}</mat-option>
                </mat-select>
              </mat-form-field><br>
            </div>

            <div class="row">
              <div class="col-2">
                <h2>Kilometraje: </h2><br>
              </div>
              <div class="col-10">
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Ingrese el kilometraje</mat-label>
                  <input matInput #kilometraje value="{{pub['kilometraje']}}">
                </mat-form-field><br>
              </div>
            </div>

            <div class="row">
              <div class="col-sm">
                <h2>Color: </h2><br>
              </div>

              <div class="col-10">
                <mat-form-field appearance="fill">
                  <mat-label>Seleccione</mat-label>
                  <mat-select #color value="{{pub['color']}}">
                    <mat-option value="Rojo">Rojo</mat-option>
                    <mat-option value="Negro">Negro</mat-option>
                    <mat-option value="Blanco">Blanco</mat-option>
                    <mat-option value="Gris">Gris</mat-option>
                    <mat-option value="Dorado">Dorado</mat-option>
                  </mat-select>
                </mat-form-field><br>
              </div>
            </div>

            <div class="row">
              <div class="col-sm">
                <h2>Foto: </h2><br>
              </div>
              <div class="col-10">
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Ingrese URL</mat-label>
                  <input matInput #img value="{{pub['img']}}">
                </mat-form-field><br>
              </div>

              <div class="row">
                <div class="col-sm">
                  <h2>Modelo: </h2><br>
                </div>
                <div class="col-10">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Ingrese el modelo</mat-label>
                    <input matInput #modelo value="{{pub['modelo']}}">
                  </mat-form-field><br>
                </div>
              </div>

              <div class="row">
                <div class="col-sm">
                  <h2>Año: </h2><br>
                </div>

                <div class="col-10">
                  <mat-form-field appearance="fill">
                    <mat-label>Seleccione</mat-label>
                    <mat-select #anioc [(value)]="+anio">
                      <mat-option *ngFor="let i of anios"  [value]="2023-i" >{{2023-i}}</mat-option>
                    </mat-select>
                  </mat-form-field><br>
                </div>
              </div>
              <div class="row">
                <div class="col-sm">
                  <h2>Teléfono: </h2><br>
                </div>
                <div class="col-10">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Ingrese su teléfono</mat-label>
                    <input matInput #telefono value="{{pub['telefono']}}">
                  </mat-form-field><br>
                </div>
              </div>

              <div class="row">
                <div class="col-2">
                  <h2>Descripción: </h2><br>
                </div>

                <div class="col-10">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Descripcion del automóvil</mat-label>
                    <textarea matInput #descripcion value="{{pub['descripcion']}}"></textarea>
                  </mat-form-field><br>
                </div>
              </div>
            </div>
          </div>
          <h3 class="text-success">{{mensaje}}</h3>
          <button class="fill" mat-raised-button color="primary"(click)="actualizarPublicacion(tipoc.value,marcac.value,kilometraje.value,color.value,img.value,modelo.value,anioc.value,descripcion.value,telefono.value)" >Actualizar</button>
        </div>
