<div class="text-center text-light p-2" style="background: #7D6ED6">
  <h1>¡Gracias por registrarte!</h1>
</div>
<div class="container text-center mt-4">
  <div *ngIf="auth.userData as user">
    <h3>Hemos enviado un correo de confirmación a <strong>{{user.email}}</strong></h3>
    <h5>Por favor revise su correo electrónico y haga clic en el enlace para verificar su dirección de correo electrónico.</h5>
    <div class="formGroup mt-5">
      <button type="button" class="btn text-light" style="background: #7D6ED6" (click)="auth.SendVerificationMail()">
        <i class="fas fa-redo-alt"></i>
        Resend Verification Email
      </button>
    </div>
    <div class="mt-2">
      <span>¿Desea volver? <a [routerLink]="'/sign-in'">Regístrate</a></span>
    </div>
  </div>
</div>



