<html>
<app-nav-bar></app-nav-bar>

<mat-card>
  <mat-card-title>Color Blind Multiplayer</mat-card-title><br>
  <mat-card-content> Es un juego simple en el que tu objetivo es hacer clic en los diferentes tonos de color! </mat-card-content>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Ingresa un código sala</mat-label>
    <input matInput placeholder="Ej:12345">
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="abrirDialogo()">Crea una nueva sala</button>
</mat-card>
</html>


