
<div class="carousel"

     data-flickity='{"lazyLoad": 2,"autoPlay": true, "wrapAround": true }'>

    <img class="carousel-image" id="eternals" src="https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/7857696A758CC7C0B38288307EF06BFC98690E393EB6DCC80BFD313292EE6E04/scale?width=2880&aspectRatio=3.91&format=jpeg" />

    <img class="carousel-image" id="bobaFett" src="https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/632528D2D3854E9AE8EFA0D52BCEF8053C55E0C732077DEC21B9A6E192DEA8ED/compose?width=2880&aspectRatio=3.91&format=jpeg&label=disneyplusoriginal_391_scrim" />

    <img class="carousel-image" id="rising" src="https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/349A27970CFC6835658800A89AEEE3751330CF21C679C15E1C32343EAF59647B/scale?width=2880&aspectRatio=3.91&format=jpeg"/>

    <img class="carousel-image" id="encanto" src="https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/4F1053E978BD1F24263B6BE3D730C4C9750860CB457674BABC75C1F9E2146D24/scale?width=2880&aspectRatio=3.91&format=jpeg"/>

    <img class="carousel-image" id="ravenHome" src="https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/6E27D4685F32B337801DD51A126C0EA3B443D6BDD78C83354B59B37B89A3AC29/compose?width=2880&aspectRatio=3.91&format=jpeg&label=391_scrim"/>

    <img class="carousel-image" id="iceAge" src="https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/176F8EA2DA35AE3BE2F5D5C9CB2FAB3FF4D0D45D2D69BD17122ED2CFF1FDD03D/scale?width=2880&aspectRatio=3.91&format=jpeg"/>

    <img class="carousel-image" id="soRaven" src="https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/1BF6A078E01FC1D3EF329A4F99B9858471CE72BB9C0C1A7EDE7DF8B178981339/scale?width=2880&aspectRatio=3.91&format=jpeg"/>

    <img class="carousel-image" id="maleficent" src="https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/B08CB46F2BBB67744F754F2D410033EA18312862A02E7E22799A2EB8E9B8401F/scale?width=2880&aspectRatio=3.91&format=jpeg"/>

    <img class="carousel-image" id="mistress" src="https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/054DFCAA201D843B208A0A50517CDA87DB605EA3C39398AD599FCBAE6538E651/scale?width=2880&aspectRatio=3.91&format=jpeg"/>

    <img class="carousel-image" id="infinity" src="https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/3C88AED4D3CFB1114598D4AD85E5FDF6DA1CA9B99106DE1E512C60D1CFAC61AA/scale?width=2880&aspectRatio=3.91&format=png"/>

    <img class="carousel-image" id="hawkeye" src="https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/B1E9C6DE91B5631991309AFD91EFCDFEEB20E26B815754D35359BDA4855E5B35/compose?width=2880&aspectRatio=3.91&format=jpeg&label=disneyplusoriginal_391_scrim"/>

    <img class="carousel-image" id="spidey" src="https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/7ED9D6437ED6FB0A28C1C968870D08EAB2504040A7B57CBF7019C69DFD2B299B/compose?width=2880&aspectRatio=3.91&format=jpeg&label=391_scrim"/>


</div>




