.branch{
  margin-left: 20px;
}

.mat-toolbar{
  background-color: #7D6ED6;
  padding-top: 30px;
  padding-bottom: 40px;
  color: white;
  font-weight: bold;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,.2);
  font-family:"Microsoft Yi Baiti";
  font-size: 35px;
}

